{% extends "layout.html" %}

{% block content %}
	<h2>All Categories</h2>
	<div class='well'>
		<form method="post" action='/categories' style="margin-bottom: 10px">
			<label>Add Category</label>
			<input type="text" name="category">
			<button class="btn btn-primary">Add</button>

		</form>
	</div>
	<ul class='list-group'>

		{% for category in categories %}

			<li class='list-group-item'> <a href="/categories/{{category.id}}">{{category.name}}</a> 
			<form method='post' action='/categories/{{category.id}}?_method=delete'>
				<button class='btn btn-danger'>Delete</button>
			</form>
			</li>

		{% endfor %}
</ul>

{% endblock %}